// $theme-color: rgb(252, 198, 166);
$theme-color: #f3efec;
$contrast-color: rgb(137, 193, 220);
$menu-color: rgb(236 209 209);
$max-width: 1440px;
$header-height: 120px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $theme-color;
  padding-inline: 4rem;
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

section {
  max-width: $max-width;
  margin: 0 auto;
  min-height: calc(100vh - $header-height);
  padding: 4rem 1rem;
}

.capitalize {
  text-transform: capitalize;
}

form input {
  border-radius: 10px;
  font-weight: 600;
}

label {
  font-weight: 600;
}

header {
  position: sticky;
  z-index: 1000;

  backdrop-filter: blur(8px);
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: $header-height;
  width: 100%;

  .menu-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: white;
    flex: 1;
    min-height: 112px;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .nav-menu {
      display: flex;
      gap: 2rem;

      .menu-item {
        background-color: transparent;
        border: transparent;
        color: rgb(66, 66, 66);
        padding: 0;
        font-weight: 600;

        &:hover {
          color: black;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .dropdown-menu-wrapper {
    position: absolute;
    min-width: 320px;
    background-color: $menu-color;
    padding: 2rem;
    top: 125px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 0px;
      right: 25px;
      top: 5px;
      border: 23px solid rgba(0, 0, 0, 0);
      border-top: 0;
      border-bottom: 25px solid $menu-color;
      transform: translate(-50%, calc(-100% - 5px));
    }

    .select-login-type {
      display: flex;
      gap: 1rem;
    }

    .login-error {
      color: red;
      padding: 1rem;
      background-color: white;
      border: 1px solid red;
    }

    li {
      span {
        font-size: 0.7rem;
      }
    }
  }

  .logged-in {
    background-color: #daa9c8;
    border-radius: 100px;
    font-size: 0.8rem;
    height: 80px;
    width: 80px;
    color: black;
    font-weight: 600;
    outline: 3px solid #b16495;

    &:hover {
      border-color: rgb(253, 0, 220);
    }

    &:focus {
      outline: 3px solid #b16495;
    }
  }

  .main-menu {
    left: 0;
  }

  .login-menu {
    right: 0;
  }
}

button {
  color: $theme-color;
}

h1,
h2,
h3,
h4,
p {
  padding-top: 0;
  margin-top: 0;
}

form {
  p {
    margin: 0;
    padding: 0;
  }

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    width: 100%;
    height: 40px;
    padding-inline: 8px;
  }

  .checkboxes {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;

      * {
        margin-inline: auto;
      }
    }
  }

  .roles {
    padding: 2rem;
    border-radius: 10px;
    border: 2px dashed #00000045;

    input {
      height: 20px;
    }
  }
}

.alert {
  border: 2px solid red !important;
}

.submit-wrapper {
  position: relative;
}

.alertMessage {
  position: absolute;
  background-color: white;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1;
  padding: 1rem;
  position: absolute;
  border-radius: 8px;
  min-width: 200px;
  top: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }
}

.userlist {
  padding: 0;
  margin: 0;
  .category-wrapper {
    display: flex;

    div {
      padding-inline: 4px;
      font-weight: 600;
      flex: 1;
      border: 1px solid transparent;
    }
  }
  li {
    display: flex;
    div {
      position: relative;
      border: 1px solid black;
      padding: 4px;
      flex: 1;
    }
  }

  .role-tag {
    margin-right: 5px;
  }

  .button-container {
    border: none;
    max-width: 90px;
  }

  .delete-button {
    font-size: 0.8rem;
    position: absolute;
    right: 2px;
    padding: 4px;
    background: red;
    color: white;
  }
}

.transactions-pending {
  min-width: 600px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 2rem;

  .transaction-list {
    border-top: 2px dashed grey;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #f4f4f4;
  }

  li {
    border-bottom: 1px solid grey;
  }
}
